[Unit]
Description="SSH Key Agent"

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=ssh-agent -D -a $SSH_AUTH_SOCK
ExecStop=ssh-agent -k %SSH_AUTH_SOCK

[Install]
WantedBy=default.target
